# [Root]
.DS_Store
node_modules/
dist/
build/

# [Frontend]
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.vscode/

# [Backend]
backend/.gradle/
backend/build/
backend/bin/
backend/out/
backend/.idea/
backend/.vscode/
backend/*.iml

# [Critical: Security]
backend/src/main/resources/application.yaml
backend/src/main/resources/application.properties